.container form {
  margin-top: 2.75rem;
}

form #draw-info p {
  margin-top: 2px;
}

#draw-values {
  display: flex;
  flex-direction: column;
  margin-top: 2.75rem;

  ul {
    display: flex;
    gap: 0.75rem;

    li {
      /* display:; */
    }
  }
}

@media (width > 85.375em) {
  form {
    max-width: 30.125rem;
  }
}
