*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --max-width: 390px;
  font-size: 100%;

  --px-bs: 2rem;

  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --content-inverse: #030203;

  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;
  --gradient-background: linear-gradient(90deg, #d586e0 0%, #91a1fa 98.93%);
  --gradient-background2: linear-gradient(90deg, #fffeff 0%, #d4d4d4 98.93%);

  --gradient-border: linear-gradient(90deg, #77c0af 0%, #d1dc97 14.84%, #e9a9b3 32.15%, #d586e0 65.79%, #91a1fa 84.58%);
  --gradient-content: linear-gradient(90deg, #c7c9cc 0%, #3d3d3d 100%);

  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0aa;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;

  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-bs: 1rem; /* 16px */
  --fs-md: 1.25rem; /* 20px */
  --fs-lg: 2rem; /* 32px */
  --fs-xl: 2.5rem; /* 40px */
  --fs-xxl: 4.5rem; /* 72px */

  --fw-xbd: 800;
  --fw-bd: 700;
  --fw-md: 500;
  --fw-bs: 400;

  --ff-sora: "Sora", sans-serif;
  --ff-roboto-mono: "Roboto Mono", monospace;
  --ff-roboto-flex: "Roboto Flex", sans-serif;

  --font-display-large: var(--fw-xbd) var(--fs-xxl) / 130% var(--ff-sora);
  --font-display-medium: var(--fw-xbd) var(--fs-xl) / 130% var(--ff-sora);
  --font-display-small: var(--fw-bd) var(--fs-lg) / 130% var(--ff-sora);

  --font-overline: var(--fw-bd) var(--fs-bs) / 150% var(--ff-roboto-mono);

  --font-paragraph-large: var(--fw-md) var(--fs-bs) / 150% var(--ff-roboto-flex);
  --font-paragraph-medium: var(--fw-md) var(--fs-sm) / 150% var(--ff-roboto-flex);
  --font-paragraph-small: var(--fw-md) var(--fs-xs) / 150% var(--ff-roboto-flex);

  --font-label-medium: var(--fw-bd) var(--fs-md) / 150% var(--ff-roboto-flex);
  --font-label-small: var(--fw-bd) var(--fs-bs) / 150% var(--ff-roboto-flex);

  font-family: "Sora", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto Flex", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--background-primary);
  font: var(--font-paragraph-medium);
  color: var(--content-tertiary);
}

h1 {
  font: var(--font-display-medium);
  text-transform: uppercase;
}

h2 {
  font: var(--font-label-medium);
  text-transform: uppercase;
}

h3 {
  font: var(--font-paragraph-medium);
}

p {
  font: var(--font-paragraph-medium);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
}

ul[role="list"] {
  list-style: none;
}

.desktop-only {
  display: none;
}

div.hidden {
  display: none;
}

.container {
  max-width: var(--max-width);
  background-color: var(--background-primary);
  margin-inline: auto;
}

.container-base {
  width: 100%;
  padding-inline: var(--px-bs);
}

.container-small {
  /* width: calc(100% - var(--px-sm) * 2); */
  width: calc(100%);
  padding-inline: var(--px-sm);
  padding-block: var(--py-sm);
}

.uppercase {
  text-transform: uppercase;
}
