*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 100%;

  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --content-inverse: #030203;

  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;

  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0aa;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;

  font-family: "Sora", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto Flex", sans-serif;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
}

ul[role="list"] {
  list-style: none;
}

.desktop-only {
  display: none;
}

div.hidden {
  display: none;
}
